.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .cart-item {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin-bottom: 5px;
    .name-price {
      padding: 10px;
      p {
        margin: 0;
      }
    }
  }

  button {
    margin-top: auto;
  }
}

.cart-appear {
  opacity: 0;
}
.cart-appear.cart-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}
.cart-exit {
  opacity: 1;
}
.cart-exit-active {
  opacity: 0;
  transition: opacity 500ms linear;
}
.cart-exit-done {
  opacity: 0;
}
